/*

Logix - Responsive One Page HTML Template

Author: RBWebDesign
Date: November 2016
Version: 1.0

-----------------------
| [Table of Contents] |
-----------------------

1. Main Style
2. Navigation Bar
3. Main Top
4. Buttons
5. Links
6. Section
7. About
8. Services
9. Team
10. Newsletter
11. Testimonials
12. Contact
13. Footer
14. Media Queries

*/

/* MAIN STYLE */

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  background-color: #FFF;
  line-height: 1.8;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #111;
  margin-top: 0;
}

p.mini {
  letter-spacing: 0;
  line-height: 1;
  font-size: 12px;
  font-style: italic;
  color: #555;
  margin-bottom: 0;
}

.blue {
  color: #224D9C;
}

.yellow {
  color: #fdc93c;
}

.padding {
  padding: 0 100px !important;
}

.padding-top {
  padding-top: 150px !important;
}

.padding-bottom {
  padding-bottom: 150px !important;
}

i {
  color: #111;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

i:hover {
  color: #224D9C;
}

hr {
  width: 50px;
  height: 3px;
  background-color: #fdc93c;
  margin: 30px auto;
  border: 0;
}

input {
  width: 100%;
  border: none;
  border: 3px solid #CDCDCD;
  padding: 15px 20px;
  margin: 0;
  font-size: 16px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

textarea {
  width: 100%;
  border: none;
  border: 3px solid #CDCDCD;
  padding: 15px 20px;
  min-height: 300px;
  margin: 30px 0 20px 0;
  font-size: 16px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

input:focus {
  outline: none;
  border: 3px solid #224D9C;
}

textarea:focus {
  outline: none;
  border: 3px solid #224D9C;
}

.background {
  background-color: #224D9C;
}

::selection {
  background-color: #224D9C;
  color: #FFF;
}

::-moz-selection {
  background-color: #224D9C;
  color: #FFF;
}

.background ::selection, .dark ::selection, .mask ::selection, #footer .container ::selection, .box.blue ::selection {
  background-color: #fdc93c;
  color: #224D9C;
}

.background ::-moz-selection, .dark ::-moz-selection, .mask ::-moz-selection, #footer .container ::-moz-selection, .box.blue ::-moz-selection {
  background-color: #fdc93c;
  color: #224D9C;
}

.row {
  margin: 0;
}

/* NAVIGATION BAR */

.navbar {
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
  -o-transition: height 0.3s linear;
  -ms-transition: height 0.3s linear;
  transition: height 0.3s linear;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  padding: 0 3%;
  background-color: #FFF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.navbar-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 100px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #111;
  display: table-cell;
  vertical-align: middle;
}

.navbar-title:hover {
  color: #224D9C;
}

.navbar-title img {
  width: 100px;
  height: auto;
}

.navbar-nav {
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}

.navbar-nav > li {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  float: none;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}

.navbar-nav > li > a {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #111;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0px 30px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #224D9C;
}

.navbar-nav > li.active {
  background-color: #224D9C;
}

.navbar-nav > li.active > a, .navbar-nav > li.active > a:hover {
  color: #FFF;
}

.navbar-nav > li.active > a:hover {
  color: #fdc93c;
}

.navbar.navbar-light {
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
  -o-transition: height 0.3s linear;
  -ms-transition: height 0.3s linear;
  transition: height 0.3s linear;
  height: 80px;
}

.navbar.navbar-light .navbar-title {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
  color: #111;
  height: 80px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  display: table-cell;
  vertical-align: middle;
}

.navbar.navbar-light .navbar-title:hover {
  color: #224D9C;
}

.navbar.navbar-light .navbar-nav.nav-text-light > li {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 80px;
}

.navbar.navbar-light .navbar-nav.nav-text-light > li > a {
  font-size: 14px;
}

.navbar.navbar-light .navbar-nav.nav-text-light > li > a:hover {
  color: #224D9C;
}

.navbar.navbar-light .navbar-nav.nav-text-light > li.active > a:hover {
  color: #fdc93c;
}

.navbar-toggle {
  margin-top: 20px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border-radius: 0;
}

.navbar-toggle .icon-bar {
  height: 3px;
  background-color: #224D9C;
  border-radius: 0;
  width: 30px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 6px;
}

/* MAIN TOP */

.main-top {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-top .main-content {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: table;
}

.main-top .main-content .container.content {
  display: table-cell;
  vertical-align: middle;
}

.main-top .main-content h2 {
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  -webkit-animation: fadeInLeft 2s;
  animation: fadeInLeft 2s;
}

.main-top .main-content h3 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 10px;
  padding-top: 30px;
  margin-bottom: 200px;
  -webkit-animation: fadeInRight 2s;
  animation: fadeInRight 2s;
}

.main-top .section {
  margin-top: -300px;
  background-color: #224D9C;
}

.main-top .section .box {
  float: left;
  width: 20%;
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
  display: table;
}

.main-top .section .box.blue {
  background-color: #224D9C;
}

.main-top .section .box.yellow {
  background-color: #fdc93c;
}

.main-top .section .box .content {
  display: table-cell;
  vertical-align: middle;
}

.main-top .section .box .content i {
  color: #FFF;
  font-size: 70px;
}

.main-top .section .box .content h3 {
  color: #FFF;
  font-size: 20px;
  letter-spacing: 5px;
  padding-top: 10px;
  margin-bottom: 30px;
}

/* BUTTONS */

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 15px 30px;
}

.btn-primary {
  background-color: #224D9C;
  color: #FFF;
  border: 3px solid #224D9C;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-primary:hover {
  background-color: #FFF;
  color: #224D9C;
  border: 3px solid #224D9C;
}

.btn-primary:focus, .btn-primary:active {
  background-color: #224D9C !important;
  border: 3px solid #224D9C !important;
  color: #FFF !important;
  outline: none !important;
}

.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: transparent;
}

/* LINKS */

a {
  color: #333;
  font-weight: 300;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover, a:focus, a:active {
  color: #224D9C;
  text-decoration: none;
  outline: none;
}

/* SECTION */

.section {
  float: left;
  width: 100%;
  background-color: #FFF;
}

.section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.section-heading h2 {
  font-size: 40px;
  letter-spacing: 5px;
  color: #224D9C;
}

.section-heading p {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #555;
}

.section-content img {
  width: 100%;
}

.section.dark {
	background-color: #224D9C;
  padding: 50px 0;
}

.section.dark h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  margin: 0;
  padding-right: 50px;
  display: inline-block;
  vertical-align: middle;
}

.section.dark h3 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0;
  padding: 100px 0 30px 0;
}

.section.dark p {
  color: #FFF;
  padding-bottom: 100px;
  margin-bottom: 0;
}

.section.dark .btn {
  color: #fdc93c;
  border: 3px solid #fdc93c;
  display: inline-block;
}

.section.dark .btn:hover {
  background-color: #fdc93c;
  color: #224D9C;
}

.section.dark .btn:focus, .section.dark .btn:active {
  background-color: #fdc93c !important;
  border: 3px solid #fdc93c !important;
  color: #224D9C !important;
  outline: none !important;
}

.section.general {
  padding: 0;
  padding-top: 150px;
}

.section.general h3 {
  color: #333;
}

.section.general p {
  padding-bottom: 50px;
}

/* ABOUT */

#about h3 {
  margin-bottom: 30px;
}

#about p {
  margin-bottom: 0;
}

#about ul {
  float: left;
  list-style-type: none;
  display: inline-block;
  padding: 50px 30px 0 30px;
}

#about ul li {
  font-size: 16px;
  line-height: 2.5;
}

#about ul li i {
  color: #224D9C;
  font-size: 15px;
  padding-right: 5px;
}

.about {
  display: table;
  width: 100%;
  height: 700px;
}

.about .content {
  display: table-cell;
  vertical-align: middle;
}

.about .image {
  background-image: url('../img/img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: table-cell;
  vertical-align: middle;
}

.about .background {
  height: 600px;
  padding: 5%;
  margin: 0;
  display: table;
}

.about h3, .about p {
  color: #FFF;
  text-align: left;
  margin-bottom: 30px;
}

.about .btn {
  color: #224D9C;
  background-color: #fdc93c;
  border: 3px solid #fdc93c;
  margin-top: 20px;
}

.about .btn:hover, .about .btn.active, .about .btn:focus {
  color: #fdc93c;
  background-color: #224D9C;
  border: 3px solid #fdc93c !important;
}

/* SERVICES */

.section.services {
  padding-top: 0px;
}

.services i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services .section-content p {
  padding-bottom: 100px;
  text-align: center;
}

.services .section-content h4 {
  text-align: center;
}

.services .section-content .first h4 {
  margin-bottom: 100px;
}

/* TEAM */

.team {
  width: 280px;
  height: 350px;
  margin: 50px auto;
  overflow: hidden;
  text-align: center;
}

.team .mask {
  width: 280px;
  height: 350px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
}

.team h2 {
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  position: relative;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 100px;
  padding-bottom: 10px;
}

.team p {
  font-size: 15px;
  position: relative;
  color: #FFF;
  text-align: center;
  line-height: 2;
}

.team a.info i {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  padding: 15px 10px;
  background: transparent;
  color: #FFF;
  text-transform: uppercase;
}

.team a.info:hover i {
  color: #fdc93c;
}

.team img {
  width: 200%;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}

.team .mask {
  background-color: #224D9C;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team h2 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s linear 0.2s;
  -moz-transition: all 0.3s linear 0.2s;
  -o-transition: all 0.3s linear 0.2s;
  -ms-transition: all 0.3s linear 0.2s;
  transition: all 0.3s linear 0.2s;
}

.team p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s linear 0.3s;
  -moz-transition: all 0.3s linear 0.3s;
  -o-transition: all 0.3s linear 0.3s;
  -ms-transition: all 0.3s linear 0.3s;
  transition: all 0.3s linear 0.3s;
}

.team a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s linear 0.3s;
  -moz-transition: all 0.3s linear 0.3s;
  -o-transition: all 0.3s linear 0.3s;
  -ms-transition: all 0.3s linear 0.3s;
  transition: all 0.3s linear 0.3s;
}

.team:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 0.9;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.team:hover img {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.team:hover h2 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.team:hover p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.team:hover a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* NEWSLETTER */

.section.newsletter {
  padding: 100px 0;
}

.section.newsletter h3 {
  color: #333;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.section.newsletter input {
  width: 50%;
  text-align: center;
}

.section.newsletter .btn {
  margin-top: 30px;
}

/* TESTIMONIALS */

.section.testimonials {
  padding: 200px 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #FFF;
}

.section.testimonials h2, .section.testimonials p {
  color: #FFF;
}

#owl-testimonials.owl-theme .owl-controls .owl-page span, #owl-testimonials.owl-theme .owl-pagination {
  display: none;
  height: 0;
}

#owl-testimonials.owl-theme .owl-controls.clickable {
  display: none;
  margin: 0;
  height: 0;
}

/* CONTACT */

.contact-info li {
  padding-bottom: 20px;
}

.contact-info i {
  font-size: 30px;
  padding-bottom: 20px;
}

.contact-info h2 {
	font-size: 16px;
	letter-spacing: 0.2em;
}

.contact-info h2, .contact-info p {
  padding-left: 0px;
}

.contact-info p {
  font-size: 12px;
}

.contact-form {
  padding-top: 100px;
}

.contact-form .form-group {
  margin-bottom: 0;
}

.contact-form .alert,
.contact-form label {
  display: none;
}

/* FOOTER */

#footer {
  background-color: #224D9C;
  color: #FFF;
}

#footer h3 {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 0;
}

#footer hr {
  float: left;
  width: 50px;
  margin-right: 100%;
}

#footer p {
  float: left;
}

#footer .social {
  float: left;
}

#footer .social i {
  font-size: 20px;
  color: #FFF;
  padding-right: 20px;
  text-align: right;
}

#footer .social i:hover {
  color: #fdc93c;
}

#footer ul {
  list-style-type: none;
  float: left;
  margin-bottom: 0;
}

#footer ul:first-of-type {
  padding-right: 40px;
}

#footer ul li i {
  color: #FFF;
  padding-right: 5px;
}

#footer ul li a {
  color: #FFF;
}

#footer ul li a:hover {
  color: #fdc93c;
}

#footer .image {
  width: 31%;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

#footer .image img {
  max-width: 100%;
}

#footer .image .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  background-color: #fdc93c;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#footer .image .overlay:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #FFF;
  top: 50%;
  left: 50%;
  z-index: 30;
  margin-top: -8px;
  margin-left: -1px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#footer .image .overlay:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #FFF;
  top: 50%;
  left: 50%;
  z-index: 30;
  margin-top: -1px;
  margin-left: -8px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#footer .image:hover .overlay {
  opacity: 1;
}

.back-to-top {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 9999;
}

.back-to-top a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
}

.back-to-top a i {
  font-size: 50px;
  color: #111;
}

.back-to-top a:hover i {
  color: #fdc93c;
}

.copyright {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 20px 0;
  margin-bottom: 0;
  text-align: center;
  text-align: center;
  float: none !important;
  background-color: #fdc93c;
  color: #224D9C;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 30px !important;
  }

  h2 {
    font-size: 25px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  p {
    font-size: 14px !important;
    line-height: 1.8 !important;
  }

  hr {
    width: 80px;
  }

  .padding {
    padding: 0 125px !important;
  }

  .padding-top {
    padding-top: 125px !important;
  }

  .padding-bottom {
    padding-bottom: 125px !important;
  }

  .section.newsletter, .section.testimonials {
    padding: 80px 0;
  }

  .section.dark {
    padding: 60px 0;
  }

  .section.dark h2 {
    width: 100%;
    font-size: 30px !important;
    padding-right: 0;
  }

  .section.dark .btn {
    margin-top: 30px;
  }

  .navbar-nav > li > a {
    padding: 0 15px;
  }

  .btn {
    padding: 15px 40px;
    letter-spacing: 2px;
  }

  .main-top .main-content h2 {
    font-size: 60px !important;
  }

  .main-top .main-content h3 {
    font-size: 40px !important;
    margin-bottom: 100px;
  }

  .main-top .section {
    margin-top: -200px;
  }

  .main-top .section .box {
    height: 200px;
  }

  .main-top .section .box .content h3 {
    font-size: 18px !important;
    letter-spacing: 3px;
  }

  .main-top .section .box .content i {
    font-size: 50px;
  }

  .back-to-top a i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 25px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  p {
    font-size: 13px !important;
  }

  hr {
    width: 75px;
    margin: 15px auto;
  }

  .padding {
    padding: 0 100px !important;
  }

  .padding-top {
    padding-top: 100px !important;
  }

  .padding-bottom {
    padding-bottom: 100px !important;
  }

  .section.newsletter, .section.testimonials {
    padding: 70px 0;
  }

  .section.newsletter h3 {
    margin-bottom: 40px;
  }

  .section.dark {
    padding: 50px 0;
  }

  .section.dark h2 {
    font-size: 25px !important;
    line-height: 1.8;
  }

  .section.dark .btn {
    margin-top: 20px;
  }

  .section.dark h3 {
    padding: 50px 0 20px 0;
    line-height: 1.5;
  }

  .section.dark p {
    padding-bottom: 50px;
  }

  .main-top .main-content h2 {
    font-size: 50px !important;
  }

  .main-top .main-content h3 {
    font-size: 30px !important;
    letter-spacing: 5px;
  }

  .main-top .section .box {
    width: 100%;
  }

  .navbar.navbar-light .navbar-nav.nav-text-light > li > a {
    border-bottom: none;
  }

  .navbar.navbar-light .navbar-nav.nav-text-light > li > a:hover {
    border-bottom: none;
    text-decoration: none;
  }

  .navbar-collapse {
    background-color: #FFF;
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .navbar-collapse ul {
    float: left;
    width: 100%;
    height: 100%;
    border-top: 2px solid #224D9C;
    border-bottom: 2px solid #224D9C;
    margin: 0;
  }

  .navbar-collapse li {
    display: table;
    width: 100%;
    height: 50px !important;
    padding-left: 10px;
  }

  .navbar-collapse li.active {
    background-color: #224D9C;
  }

  .navbar-collapse li a {
    font-size: 12px;
    padding: 15px;
    display: table-cell;
    vertical-align: middle;
  }

  .btn {
    padding: 10px 25px;
    font-size: 15px;
    letter-spacing: 1px;
  }

  #about ul {
    width: 50%;
    padding: 0;
    padding-top: 20px;
  }

  #about ul li {
    font-size: 14px;
    line-height: 1.5;
  }

  #about ul li i {
    font-size: 14px;
    padding-right: 3px;
  }

  .about .image {
    height: 500px;
  }

  .about .background {
    height: 500px;
  }

  .about .btn {
    margin-top: 15px;
  }

  .services i {
    font-size: 30px;
    margin-top: 15px;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info li {
    display: inline-block;
    padding: 0 5px 10px 5px;
  }

  .contact-info i {
    font-size: 20px;
    width: 100%;
    padding-bottom: 10px;
  }

  .contact-info h3, .contact-info p {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-form {
    padding-top: 80px;
  }

  .contact-form #name {
    margin-bottom: 30px;
  }

  .contact-form .btn-primary {
    width: 100%;
  }

  #footer hr {
    width: 40px;
  }

  #footer .social {
    float: none;
    text-align: center;
  }

  .back-to-top {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  h4 {
    font-size: 15px !important;
  }

  p {
    font-size: 12px !important;
    line-height: 1.5 !important;
  }

  hr {
    width: 50px;
    margin: 10px auto;
  }

  .padding {
    padding: 0 50px !important;
  }

  .padding-top {
    padding-top: 50px !important;
  }

  .padding-bottom {
    padding-bottom: 50px !important;
  }

  .section.newsletter, .section.testimonials {
    padding: 50px 0;
  }

  .section.newsletter h3 {
    margin-bottom: 30px;
  }

  .section.dark {
    padding: 30px 0;
  }

  .section.dark h2 {
    font-size: 18px !important;
    letter-spacing: 5px;
    line-height: 1.5;
  }

  .section.dark .btn {
    margin-top: 10px;
  }

  .section.dark h3 {
    padding: 30px 0 20px 0;
  }

  .section.dark p {
    padding-bottom: 30px;
  }

  .main-top .main-content h2 {
    font-size: 40px !important;
  }

  .main-top .main-content h3 {
    font-size: 20px !important;
    letter-spacing: 3px;
    margin-bottom: 50px;
  }

  .main-top .section {
    margin-top: -150px;
  }

  .main-top .section .box {
    height: 150px;
  }

  .main-top .section .box .content h3 {
    font-size: 16px !important;
  }

  .main-top .section .box .content i {
    font-size: 40px;
  }

  #about ul li {
    font-size: 13px;
  }

  #about ul li i {
    font-size: 13px;
    padding-right: 1px;
  }

  .about .image {
    height: 400px;
  }

  .about .background {
    height: 400px;
  }

  .contact {
    padding-bottom: 0;
  }

  .contact-info li {
    display: block;
  }

  .contact-form {
    padding-top: 30px;
  }

  #footer hr {
    width: 30px;
  }

  .copyright {
    width: 100%;
    text-align: center;
  }
}