{% load static %}
<!DOCTYPE html>

<html>
<head>
		<meta charset="utf-8">
		<title>Anchor Express.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Transport and Worthiness">
		<meta name="author" content="Shipping Union">

		<!-- STYLES -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/supersized.css' %}" rel="stylesheet">
		<link href="{% static 'css/animate.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	</head>
	<body id="top">
		
		<!-- NAVBAR -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-title">AE</a><!--<span class="blue">X</span>-->
			</div>
			<nav class="navbar-collapse collapse" id="main-nav">
				<ul class="nav navbar-nav navbar-right nav-text-light">
					<li class="active"><a href="#top">Home</a></li>
					<li><a href="#about">Services</a></li>
					<li><a href="/search/">Tracking & Status</a></li>
					
					<li><a href="#contact">CONTACT</a></li>
				</ul>
			</nav>
		</div>

		<!-- MAIN TOP -->
		<div id="main-top" class="main-top">
			<div class="main-content">
				<div class="container content">
					<div class="row text-center">
						<h2>Anchor Express</h2>
						<h3>Shipping & Sailing</h3>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="section-content">
					<div class="box blue">
						<div class="content">
							<i class="icon ion-speedometer"></i>
							<h3>QUICK DELIVERY</h3>
						</div>
					</div>
					
					<div class="box blue">
						<div class="content">
							<i class="icon ion-android-boat"></i>
							<h3>ROBUST PLANS</h3>
						</div>
					</div>
                    <div class="box yellow">
						<div class="content">
							<i class="icon ion-plane"></i>
							<h3>AIR ASSISTED</h3>
						</div>
					</div>
                    
					<div class="box yellow">
						<div class="content">
							<i class="icon ion-model-s"></i>
							<h3>GROUND ROUTES</h3>
						</div>
					</div>
					<div class="box blue">
						<div class="content">
							<i class="icon ion-cube"></i>
							<h3>HEAVY CARGO</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- MAIN CONTENT -->
		<div id="main-content" class="main-content">

			
			<div id="about" class="section padding-top">
				<div class="container">
					<div class="section-heading">
						<h2>SERVICES</h2>
						<hr />
					</div>
					<div class="section-content">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 text-left">
								<div class="content">
									<h3>WE OFFER?</h3>
									<ul>
										<li><i class="ion-checkmark-round"></i> Logistics</li>
										<li><i class="ion-checkmark-round"></i> Full Tracking Service</li>
										<li><i class="ion-checkmark-round"></i> Packaging </li>
									</ul>
									<ul>
										<li><i class="ion-checkmark-round"></i> Transport Network</li>
                                        <li><i class="ion-checkmark-round"></i> Handling</li>
										
										<li><i class="ion-checkmark-round"></i> Support 24/7</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>


	        <div class="section dark">
				<div class="section-content text-center">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">100% <span class="yellow"><strong>GUARANTEE</strong></span> SAFE DELIVERY</h2>
							<p>We don't just gurantee delivery, We strive to always deliver. </p>
						</div>
					</div>
				</div>
			</div>

			


			<!-- Tracking 
			<div class="section newsletter">
				<div class="section-content">
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<h3 class="wow fadeInDown" data-wow-duration="1s">Quick Lookup</h3>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<input type="text" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" name="newsletter" placeholder="Enter your TrackID" />
						<br />
						<button type="submit" class="btn btn-primary btn-lg wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" name="send">Track it</button>
					</div>
				</div>
			</div>
-->
			<div class="section dark">
				<div class="section-content text-center">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">Quality Shipping & Handling, All In Quick Time. </h2>
							<a href="#contact" class="btn btn-primary wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">Have your say.</a>
						</div>
					</div>
				</div>
			</div>

			

			<!-- CONTACT -->
			<div id="contact" class="section contact padding-top padding-bottom">
				<div class="section-heading">
					<h2>CONTACT</h2>
					<hr />
				</div>
				<div class="section-content">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<div class="contact-info">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<i class="icon ion-map"></i>
										<h4>ADDRESS</h4>
										<p>1304 Light Road, Oswego, IL (USA)</p>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12">
										<i class="icon ion-ios-email"></i>
										<h4>EMAIL</h4>
										<p><a href="mailto:support@anchorexpress.org">support@anchorexpress.org</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<div class="contact-form">
									<div class="alert"></div>
									<form id="contact-form" action="#" method="post">
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-12">
												<label class="sr-only" for="name">Name:</label>	
												<input type="text" id="name" name="name" placeholder="Name *" required>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<label class="sr-only" for="email">Email:</label>
												<input type="email" id="email" name="email" placeholder="Email *" required>	
											</div>
										</div>
										<div class="row text-right">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<label class="sr-only" for="message">Message:</label>
												<textarea id="message" name="message" placeholder="Message *" required></textarea>
												<button type="submit" class="btn btn-primary btn-lg" name="send">SEND</button>
											</div>
										</div>
									</form>
                                    <div class="row padding-top">
					<p class="copyright">&copy; 2017. AE. All Rights Reserved.</p>
				</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	

		<div class="back-to-top">
			<a href="#top"><i class="ion-chevron-up"></i></a>
		</div>

		<!-- JAVASCRIPT -->
		<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.script.min.js' %}"></script>
		<script src="{% static 'js/jquery.easing.min.js' %}"></script>
		<script src="{% static 'js/supersized.3.2.7.min.js' %}"></script>
		<script src="{% static 'js/wow.js' %}"></script>
		<script src="{% static '/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/parallax.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>