{% load static %}
<!DOCTYPE html>

<html>
<head>
		<meta charset="utf-8">
		<title>New England Shipping and Sailing.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Transport and Worthiness">
		<meta name="author" content="Shipping Union">

		<!-- STYLES -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/supersized.css' %}" rel="stylesheet">
		<link href="{% static 'css/animate.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	</head>
	<body id="top">
		
		<!-- NAVBAR -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-title">AE</a><!--<span class="blue">X</span>-->
			</div>
			<nav class="navbar-collapse collapse" id="main-nav">
				<ul class="nav navbar-nav navbar-right nav-text-light">
					<li ><a href="/index/">Home</a></li>
					<li><a href="#about">Services</a></li>
					<li class="active"><a href="#services">Tracking & Status</a></li>
					
					<li><a href="#contact">CONTACT</a></li>
				</ul>
			</nav>
		</div>
        <!-- MAIN CONTENT -->
		<div id="main-content" class="main-content">
            <div> <br /><br /><br /><br /></div>
        <div class="section dark">
				<div class="section-content text-center">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">100% <span class="yellow"><strong>GUARANTEE</strong></span> SAFE DELIVERY</h2>
							<p>We don't just gurantee delivery, We strive to always deliver. </p>
						</div>
					</div>
				</div>
			</div>
            <div class="section newsletter">
				<div class="section-content">
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<h3 class="wow fadeInDown" data-wow-duration="1s">Quick Lookup</h3>
					</div>
                    <form method="post" action="">
                        {% csrf_token %}
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						{{form.as_p}}
						<br />
						<button type="submit" class="btn btn-primary btn-lg wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" >Track it</button>
					</div></form>
				</div>
			</div>
<div class="container">

    <hgroup class="mb20">
								
	</hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
		<article class="search-result row">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<p>Track ID:  {{track_id}}</p>
			</div>
            {% if request.method == 'POST'%}
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="meta-search">
					<li><i class="ion-ios-stopwatch"></i>Last Update time <span>{{time_sent }}</span></li>
					<li><i class="ion-ios-time-outline"></i>Estimate delivery time <span>{{eta}}</span></li>
					<li><i class="ion-ios-lightbulb-outline"></i> <span>In Transit</span></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
				<h3><a href="#" title="">Tracking for package {{track_id}}</a></h3>
	  <h4 class="text-primary">{{shipping_category}}:</h4>
                  <strong>Weight: {{weight}}</strong>
                
                
        
                {%for update in info %}
                  <p>{{update.time}} - {{update.update_text}} </p>
                {% endfor%}
			</div>{% endif %}
			<span class="clearfix borda"></span>
		</article>

        


	</section>
</div>
        
        
        <!-- CONTACT -->
			<div id="contact" class="section contact padding-top padding-bottom">
				<div class="section-heading">
					<h2>CONTACT</h2>
					<hr />
				</div>
				<div class="section-content">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<div class="contact-info">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<i class="icon ion-map"></i>
										<h4>ADDRESS</h4>
										<p>123 Street, New York (USA)</p>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12">
										<i class="icon ion-ios-telephone"></i>
										<h4>PHONE</h4>
										<p>+123 456 789</p>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12">
										<i class="icon ion-ios-email"></i>
										<h4>EMAIL</h4>
										<p><a href="mailto:info@myemail.com">info@myemail.com</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<div class="contact-form">
									<div class="alert"></div>
									<form id="contact-form" action="#" method="post">
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-12">
												<label class="sr-only" for="name">Name:</label>	
												<input type="text" id="name" name="name" placeholder="Name *" required>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<label class="sr-only" for="email">Email:</label>
												<input type="email" id="email" name="email" placeholder="Email *" required>	
											</div>
										</div>
										<div class="row text-right">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<label class="sr-only" for="message">Message:</label>
												<textarea id="message" name="message" placeholder="Message *" required></textarea>
												<button type="submit" class="btn btn-primary btn-lg" name="send">SEND</button>
											</div>
										</div>
									</form>
                                    <div class="row padding-top">
					<p class="copyright">&copy; 2017. AE. All Rights Reserved.</p>
				</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		

		<div class="back-to-top">
			<a href="#top"><i class="ion-chevron-up"></i></a>
		</div>
        </div>

		<!-- JAVASCRIPT -->
		<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
</html>